* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category_header {
    background-color: #F4F0F8;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_header>div>div {
    /* width: 515px; */
}


.category_header h1 {
    color: #232536;
    text-align: center;
    font-family: Sen;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 16px;
    width: auto;
}

.category_header p {
    color: #6D6E76;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.category_header h4 {
    color: #232536;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 32px;
}

/* header */
/* section-1 */

.category_section-1 {
    display: flex;
    margin-top: 128px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category_section-1_firstblock>div {
    display: flex;
    margin: 0 0 32px 0;
}

.category_section-1_firstblock>div>div {
    padding: 32px 0 32px 32px;
}

.category_section-1_firstblock h3 {
    color: #592EA9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
}

.category_section-1_firstblock h2 {
    color: #232536;
    font-family: Sen;
    font-size: clamp(24px, 5vw, 40px);
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    /* width: 512px; */
    width: clamp(280px, 60vw, 512px);
    text-align: center;

}

.category_section-1_firstblock p {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 16px;
    /* width: 512px; */
    width: clamp(280px, 60vw, 512px);
}

.category_section-1_secondblock>h2 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
}

.category_section-1_secondblock-b>div {
    border: 1.5px solid #C1C1C3;
    display: flex;
    padding: 24px;
    margin: 24px;
    margin-left: 0;
}


.b-c_icone {
    background-color: #FBF6EA;
    border-radius: 10px;
    height: 48px;
    width: 48px;
    padding: 13px;
}

.category_section-1_secondblock div>div>h3 {
    color: #232536;
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    margin-left: 16px;
}

.category_section-1_secondblock-underBlock {
    margin-top: 48px;
}

.category_section-1_secondblock-underBlock h5 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
}

.category_section-1_secondblock-underBlock>div {
    display: flex;
}

.category_section-1_secondblock-underBlock_businnes {
    padding: 8px 38px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_businnes>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.category_section-1_secondblock-underBlock_Experience {
    padding: 8px 37px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_Experience>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.category_section-1_secondblock-underBlock_Screen {
    padding: 8px 48px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_Screen>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.category_section-1_secondblock-underBlock_Technology {
    padding: 8px 48px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_Technology>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.category_section-1_secondblock-underBlock_Marketing {
    padding: 8px 54px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_Marketing>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

.category_section-1_secondblock-underBlock_Life {
    padding: 8px 38px;
    border-radius: 28px;
    border: 2px solid #6D6E76;
    margin: 12px 8px;
}

.category_section-1_secondblock-underBlock_Life>a {
    color: #232536;
    font-family: Sen;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

@media screen and (max-width:1230px) {
    .category_section-1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .category_section-1_secondblock{
        width: 100%;
    }
    .category_section-1_firstblock>div {
        flex-wrap: wrap;
        justify-content: center;
    }
    .category_section-1_secondblock-underBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:845px) {
    .category_section-1_firstblock h3 {
        text-align: center;
    }
}
@media screen and (max-width:530px) {
    .category_header h1 {
        font-size: 40px;
    }
    .category_section-1_secondblock-underBlock>div {
        flex-direction: column;
    }
    .category_section-1_firstblock h2 {
        text-align: left;
    }
    .category_section-1_firstblock>div>img{
        width: 260px;
    }
    .category_section-1_secondblock div>div>h3 {
        font-size: 22px;
    }
    .category_section-1_firstblock>div>div {
        padding: 32px 0;
    }
}