* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:1370px) {
    .container {
        width: 1200px;
    }

    header {
        padding: 71px 0 156px;
    }

    .yellow-button {
        margin-top: 80px;
    }

    .section-2_firstDiv>div>img {
        width: 420px;
    }

    .section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
        width: 420px;
    }

    .section-2_firstDiv>.section-2_firstDiv_border>div>p {
        width: 420px;
    }

    .section-2_secondDiv>div>h2 {
        font-size: 32px;
    }

    .section-3_grayBlock>div>span {
        width: 420px;
    }

    .section-4_display-flex>div {
        margin: 10px;
    }

    .section-6_display-flex>div {
        margin: 10px;
    }

    footer {
        padding: 59px 0 56px;
    }
    .section-4_display-flex {
        justify-content: center;
    }
}

@media screen and (max-width:1230px) {
    .container {
        width: 1050px;
    }

    .yellow-button {
        margin-top: 45px;
    }

    header {
        padding: 71px 0 56px;
    }

    section {
        margin-top: 100px;
    }

    .section-2_firstDiv_border {
        text-align: center;
    }

    .section-2_firstDiv>.section-2_firstDiv_border>div>p {
        text-align: center;
        margin: 15px auto;
    }

    .section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
        text-align: center;
        margin: 0 auto;
    }
    .section-2_firstDiv>h2 {
        text-align: center;
    }
    .section-2_secondDiv>div>h3 {
        width: auto;
    }

    .section-3_grayBlock {
        justify-content: center;
    }

    .section-3_grayBlock>div>h3 {
        margin: 10px 0 24px 0;
    }

    .section-3_grayBlock>div>p {
        width: auto;
    }

    .section-7_secondDiv>div {
        margin-top: 25px;
    }

    .footerSecondBlock>h2 {
        margin: 0 0 20px 0;
    }

    .section-2_secondDiv_div1 {
        margin-bottom: 50px;
    }

    .section-7 {
        padding: 80px;
        flex-wrap: wrap;
    }

    .section-7_firstDiv {
        border: none;
        padding: 0;
        text-align: center;
    }

    .section-7_secondDiv>h4 {
        width: auto;
        margin: 15px 0 0 0;
    }

    .section-7_secondDiv>div {
        margin-top: 45px;
    }

    .section-7_secondDiv {
        margin: 0;
        text-align: center;
    }

    .section-7_firstDiv>h2 {
        width: auto;
    }

    .section-7_firstDiv>p {
        width: auto;
    }

    .section-7_secondDiv>div {
        justify-content: center;
        align-items: center;
    }

    .footerSecondBlock>h2 {
        width: auto;
        font-size: 32px;
    }

    .section-6_secondDiv>div>a {
        margin: 20px 0;
    }
    .footerSecondBlock>h2 {
        width: auto;
        font-size: 32px;
        padding: 6px;
        text-align: center;

    }
    .section-3_grayBlock>div>span {
        width: auto;
    }
    .section-5_displayFlex>div>h3{
        font-size: 36px;
    }
}

@media screen and (max-width:1070px) {
    .container {
        width: 920px;
    }

    header {
        padding: 45px 0 40px;
    }

    header>div>div>h1 {
        margin: 17px 0 0;
    }

    section {
        margin-top: 50px;
    }

    .section-2_firstDiv>h2 {
        margin-bottom: 50px;
    }

    .section-6_secondDiv>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:950px) {
    .container {
        width: 90%;
    }

    .nav {
        padding: 26px 0;
    }

    .icones {
        display: inline-flex;
    }

    #check:checked~.icones #menu-icone {
        display: none;
    }

    .icones #close-icone {
        display: none;
    }

    #check:checked~.icones #close-icone {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: #232536;
        transition: 0.5s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 40vh;
    }

    .navbar a {
        display: block;
        font-size: 20px;
        margin: 25px;
        text-align: center;
        letter-spacing: 4px;
    }

    .navbar button {
        margin: 0 auto;
        display: block;
        padding: 16px 48px;
    }

    .navbar button>a {
        margin: 0;
    }

    header>div>div>h1 {
        font-size: 36px;
        line-height: 45px;
        width: 520px;
    }
    .section-5{
        background-image: url("");
    }
    .section-5_displayFlex {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:845px) {
    .container {
        width: 90%;
    }

    section {
        margin-top: 20px;
    }

    header {
        padding: 25px 0 60px;
    }

    header>div>div>h1 {
        margin: 0;
        width: auto;

    }

    header>div>div>p {
        margin-top: 0;
    }

    .yellow-button {
        margin-top: 15px;
    }

    .section-2_firstDiv_border>div>img {
        width: 400px;
    }

    .footerSecondBlock>h2 {
        font-size: 20px;
        letter-spacing: 0;
    }

    .footerSecondBlock {
        padding: 80px 0;
    }

    .section-8 {
        margin-bottom: 20px;
    }
    .section-7_secondDiv>div {
        flex-direction: column;
        align-items: center;
    }
    .section-7_backButton {
        margin: 0;
    }
    header > .container >div {
        padding: 0;
    }
    .section-7 {
        padding: 20px;
        flex-wrap: wrap;
    }
    .section-2_firstDiv>.section-2_firstDiv_border>div>p {
        width: auto;
    }
    .section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
        width: auto;
    }
    .section-2_secondDiv_blocks {
        padding: 10px;
    }
    .section-3_grayBlock {
        padding: 20px;
    }
    .section-5 {
        padding: 0;
    }
    .section-5_displayFlex>div>h3 {
        width: auto;
    }
    .section-5_displayFlex>div>p {
        width: auto;
    }
    .section-5>div>div {
        padding: 20px;
    }
    .section-7_secondDiv>div>img {
        margin-right: 0;
    }
    .section-8>div>h2 {
        width: auto;
    }
    .section-8>div>p {
        width: auto;
    }
    .logoAndToolbar {
        flex-direction: column;
    }
}


@media screen and (max-width:640px) {
    .container {
        width: 90%;
    }

    header {
        padding: 20px 0;
    }

    header>div>div>h3 {
        font-size: 14px;
    }

    header>div>div>h3>span {
        font-size: 14px;
    }

    header>div>div>h1 {
        font-size: 24px;
        width: auto;
    }

    header>div>div>p {
        font-size: 14px;
        width: auto;
    }

    header>div>div>span {
        font-size: 14px;
        margin-top: 0;
        width: auto;
    }

    .yellow-button {
        padding: 9px 30px;
    }

    .section-5_displayFlex>div>p {
        font-size: 14px;
        width: auto;
    }

    .section-5_displayFlex>div>h3 {
        font-size: 24px;
        width: auto;
        line-height: 30px;
        letter-spacing: 0;
        margin-bottom: 5px;
    }

    .section-5 {
        background-image: url("");
        background-repeat: no-repeat;
        padding: 0;
    }

    .section-5>div>div {
        padding: 50px;
        background-color: #F4F0F8;
    }

    .section-8>div>h2 {
        width: auto;
        font-size: 24px;
        letter-spacing: 0;
    }

    .footerSecondBlock>h2 {
        font-size: 20px;
        letter-spacing: 0;
        width: 300px;
        line-height: 25px;
    }

    .footerSecondBlock {
        padding: 30px 0 10px;
    }

    .logoAndToolbar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:530px) {
    .container {
        width: 90%;
    }
    .yellow-button {
        padding: 5px 10px;
    }

    header>div>div>span {
        display: none;
    }
    header>div>div>p {
        display: none;
    }
    header>div>div>h1 {
        line-height: normal;
    }
    .section-2_firstDiv>h2 {
        margin-bottom: 0;
    }
     .section-2_firstDiv_border>div>img {
        width: 300px;
    }
    .section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
        line-height: normal;
        font-size: 24px;
    }
    .section-2_secondDiv_div1 {
        margin-bottom: 0;
    }
    .section-3_grayBlock>div>p {
        line-height: normal;
        font-size: 24px;
    }
    .section-3_grayBlock>div>span {
        line-height: normal;
    }
    .section-4>h2 {
        margin: 10px;
    }
    .section-5>div>div {
        padding: 20px;
    }
    .section-7_firstDiv>h2 {
        font-size: 24px;
        line-height: normal;
    }
    .section-7_secondDiv>h4 {
        line-height: normal;
    }
    .section-8>div>h2 {
        line-height: normal;
    }
    .section-6_display-flex>div {
        padding: 10px;
    }
    .footerSecondBlock>h2 {
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        width: auto;
        padding: 0;
    }
    .footerSecondBlock {
        padding: 10px;
    }
    .logoAndToolbar>div>a {
        display: block;
        text-align: center;
    }
    .logoAndToolbar>img {
        margin: 0 0 10px 0;
    }
    footer {
        padding: 20px 0;
    }
    .footerSecondBlock_secondBlock>form>input {
        padding: 5px;
    }

    .footerSecondBlock_secondBlock>form>button {
        padding: 5px;
        margin: 0;
    }
    .footerLastBlock {
        flex-direction: column;
    }
    .section-2_firstDiv_border {
        padding: 5px;
    }
    .footerSecondBlock {
        margin: 5px 0 0;
    }

    /*
    .section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
        width: auto;
        font-size: 24px;
    }
    .section-2_firstDiv>.section-2_firstDiv_border>div>p {
        width: auto;
        font-size: 16px;
    }
    .section-2_secondDiv>div>h2 {
        font-size: 24px;
    }
    .section-2_secondDiv_blocks {
        padding: 10px 0;
    }
    .section-2_secondDiv>div>h3 {
        font-size: 20px;
    }
    .section-3_grayBlock {
        padding: 10px;
    }
    .section-3_grayBlock>div>p {
        font-size: 24px;
        line-height: 30px;
    }
    .section-4>h2 {
        margin: 0;
    }
    .section-6_display-flex>div {
        padding: 30px;
    }
    .section-7 {
        padding: 20px;
    }
    .section-7_firstDiv>h2 {
        font-size: 24px;
    }
    .section-7_secondDiv>div {
        flex-direction: column;
        align-items: center;
    }
    .section-7_backButton {
        margin: 0;
    }
    .section-8>div>p {
        width: auto;
    }
    .footerSecondBlock>h2 {
        width: auto;
    }
    .section-3_grayBlock>div>span {
        width: auto;
    } */
}