.header_underBlock {
    height: 80px;
}

.section-1 {
    padding-top: 128px;
    padding-bottom: 192px;
    background: url('../img/header-image.png'), lightgray 0px -165.965px / 100% 146.373% no-repeat;
    /* filter: brightness(0.5); */
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* section.section-1>div {
    /* margin-left: 81px; 
 }  */

section.section-1>div>div>h3 {
    color: var(--Light, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

section.section-1>div>div>h1 {
    width: 803px;
    color: var(--Light, #FFF);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Display */
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -2px;
}

section.section-1>div>div>p {
    color: var(--Light, #FFF);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-top: 24px;
    width: 599px;
}

section.section-1>div>div>p>span {
    color: #FFD050;
}

/* section-2 */
.section-2 {
    background: var(--Light, #FFF);
    margin-top: 100px;
}

.section-2_display-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.section-2 .section-2_firstDiv>h2 {
    color: var(--Black, #232536);

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    margin-bottom: 84px;

}

.section-2 .section-2_firstDiv>div>p {
    color: var(--Dark-Grey, #4C4C4C);

    /* Label 01 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    width: 551px;
    margin: 32px 0 16px;

}

.section-2 .section-2_firstDiv>div>a>button.yellow-button {
    margin-top: 20px;
}

.section-2 .section-2_firstDiv>div>p>span {
    color: var(--Purple, #592EA9);

    /* Label 01 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.section-2 .section-2_firstDiv>div>h3 {
    width: 669px;
    color: var(--Black, #232536);

    /* Heading H3 */
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
}

.section-2_secondDiv>div>h2 {
    color: var(--Black, #232536);

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;

}

.section-2_secondDiv_blocks {
    width: 517px;
    height: 181px;
    flex-shrink: 0;
    padding: 32px 25px;
}

.section-2_secondDiv_div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 84px;
}

.section-2_secondDiv>div>a {
    color: var(--Purple, #592EA9);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    text-decoration: none;
}

.section-2_secondDiv>div>p {
    color: var(--Dark-Grey, #4C4C4C);

    /* Label 01 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.section-2_secondDiv>div>p>span {
    color: var(--Purple, #592EA9);

    /* Label 01 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.section-2_secondDiv>div>h3 {
    color: var(--Black, #232536);

    /* Heading H4 */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    width: 369.181px;
}

.section-3 {
    background: var(--Light, #FFF);
    margin: 80px 0 0 0;
}

.section-3_colorBlocks {
    display: flex;
    justify-content: flex-end;
}

.yellow_Block {
    width: 843px;
    height: 23px;
    flex-shrink: 0;
    background-color: #FFD050;
}

.blue_Block {
    width: 282px;
    height: 23px;
    flex-shrink: 0;
    background-color: var(--Purple, #592EA9);
}

.section-3_grayBlock {
    display: flex;
    height: 500px;
    flex-shrink: 0;
    background: var(--Lavender, #F4F0F8);
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 8% 5%;
}

.section-3_grayBlock>div>h3 {
    color: var(--Black, #232536);

    /* Cap 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.section-3_grayBlock>div>p {
    color: var(--Black, #232536);

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    width: 494px;
}

.section-3_grayBlock>div>span {
    width: 515px;
    height: 56px;
    flex-shrink: 0;
    color: var(--Medium-grey, #6D6E76);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.section-3_grayBlock>div>a>button {
    color: var(--Purple, #592EA9);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 177.778% */
    border: none;
}

.section-5 {
    background: var(--Light, #FFF);
    position: relative;
    margin-top: 128px;
}

.section-5 .container>div {
    /* width: 706px; */
    height: 584px;
    flex-shrink: 0;
    background: var(--Light, #FFF);
    position: absolute;
    top: 121px;
    left: 574px;
    padding: 80px;
}

.section-5 .container>div>h2 {
    margin-bottom: 24px;
    color: #232536;

    /* Cap 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-5 .container>div>h3 {
    color: var(--Black, #232536);

    /* Heading H1 */
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: -2px;
    width: 546px;
    margin-bottom: 16px;
}

.section-5 .container>div>p {
    color: var(--Medium-grey, #6D6E76);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 546px;
    margin-bottom: 32px;
}

.section-5 .container>div>a>button {
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    gap: 12px;
    background: var(--Yellow, #FFD050);
    border: none;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
}

.section-6_secondDiv {
    margin-top: 116px;
}

.section-6_secondDiv>div {
    display: flex;
    justify-content: space-evenly;
}

.section-6_secondDiv>p {
    color: var(--Medium-grey, #6D6E76);

    /* Body 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
    margin-left: 110px;
}

.section-6_secondDiv>div>h3 {
    color: var(--Medium-grey, #6D6E76);

    /* Heading H4 */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.section-6_secondDiv>div>img {
    width: 160px;
    flex-shrink: 0;
}

.section-7 {
    background: var(--Light-yellow, #FBF6EA);
    padding: 50px;
    margin-top: 104px;

}
.section-7_firstDiv{
    border-right: 2px solid  #6D6E76;
}
.section-7_displayflex{
    display: flex;
    justify-content: space-evenly;
}
.section-7_firstDiv>h3 {
    color: var(--Black, #232536);

    /* Cap 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-7_firstDiv>h2 {
    width: 345px;
    color: var(--Black, #232536);

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    margin: 12px 0 16px 0;
}
.section-7_firstDiv>p {
    color: var(--Black, #232536);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 349px;

}
.section-7_secondDiv>p{
    width: 469px;
    color: var(--Black, #232536);

    /* Heading H4 */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
}
.section-7_secondDiv>div>img{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 48px;
}
.section-7_secondDiv>div>div>h2{
    color: var(--Black, #232536);

    /* Heading H4 */
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.section-7_secondDiv>div>div>h3{
    color: var(--Medium-grey, #6D6E76);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.section-7_secondDiv>div>button{
    border: none;
    background-color:#fbf6ea ;
}
.section-7_backButton{
    margin-left: 70px;
    margin-right: 10px;
}
.section-7_secondDiv>div>button>img{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.section-7_secondDiv>div{
    display: flex;
    margin-top: 140px;

}