/* General Styling */
.nav_underBlock {
    height: 80px;
}

section {
    margin-top: 128px;
}

/* Header Section */
header {
    padding: 128px 0 176px;
    background: url('../img/header-image.png');
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-color: rgb(0 0 0 / 60%); */
}

header>div>div>h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header>div>div>h1 {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sen;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    margin: 40px 0 0;
    width: 803px;
}

header>div>div>p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    width: 599px;
}

header>div>div>span {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
    display: block;
    width: 599px;
}

header>div>div>p>span {
    color: #FFD050;
}

header>div>div>h3>span {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* section-2 */

.section-2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-2_firstDiv_border {
    border: 1px solid rgb(109 110 118 / 10%);
    padding: 32px;
}

.section-2_firstDiv>h2 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 84px;
}

.section-2_firstDiv>.section-2_firstDiv_border>div>p {
    color: #4C4C4C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 32px 0 0;
    width: 551px;

}

.section-2_firstDiv>.section-2_firstDiv_border>div>h3 {
    color: #232536;
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    width: 669px;
}

/* section-2_secondDiv */

.section-2_secondDiv>div>h2 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;

}

.section-2_secondDiv_blocks {
    padding: 32px 116px 25px 32px;
}

.section-2_secondDiv_div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.section-2_secondDiv>div>a {
    color: #592EA9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.section-2_secondDiv>div>p {
    color: #4C4C4C;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 8px;
}

.section-2_secondDiv>div>p>span {
    color: #592EA9;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.section-2_secondDiv>div>h3 {
    color: #232536;
    font-family: 'Sen';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    width: 369px;
}

/* section-2 */
/* section-3 */

.section-3_colorBlocks {
    display: flex;
    justify-content: flex-end;
}

.yellow_Block {
    width: 70%;
    height: 23px;
    background-color: #FFD050;
}

.blue_Block {
    width: 30%;
    height: 23px;
    background-color: #592EA9;
}

.section-3_grayBlock {
    display: flex;
    background-color: #F4F0F8;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 96px 106px 96px 80px;
}

.section-3_grayBlock>div>h3 {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 0 0 24px 0;
}

.section-3_grayBlock>div>p {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    width: 487px;
    /* width: 494px; */
}

.section-3_grayBlock>div>span {
    width: 515px;
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin: 16px 0;
}

.section-3_grayBlock>div>a {
    color: #592EA9;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}

/* .section-3 */
/* .section-5 */

.section-5 {
    background-image: url(../img/close-up-photography-of-man-wearing-sunglasses-1212984.png);
    background-repeat: no-repeat;
    padding: 121px 0 0;
}

.section-5_displayFlex {
    display: flex;
    justify-content: flex-end;
}

.section-5>div>div {
    padding: 80px;
    background-color: #FFF;
}

.section-5_displayFlex>div>h2 {
    margin-bottom: 24px;
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 3px;
}

.section-5_displayFlex>div>h3 {
    color: #232536;
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    line-height: 64px;
    letter-spacing: -2px;
    width: 546px;
    margin-bottom: 16px;
}

.section-5_displayFlex>div>p {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    width: 546px;
    margin-bottom: 32px;
}

.section-5_displayFlex>div>button {
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
}

.section-5_displayFlex>div>button>a {
    color: #232536;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

/* .section-5 */
/* .section-6 */

.section-7 {
    display: flex;
    justify-content: center;
    background-color: #FBF6EA;
    padding: 80px 111px 75px 112px;
}

.section-7_firstDiv {
    border-right: 2px solid rgb(109 110 118 / 40%);
    padding: 0 80px 0 0;
}

.section-7_firstDiv>h3 {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.section-7_firstDiv>h2 {
    width: 345px;
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin: 0 0 12px;
}

.section-7_firstDiv>p {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    width: 349px;
}

.section-7_secondDiv {
    margin: 0 0 0 96px;
}

.section-7_secondDiv>h4 {
    width: 469px;
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 40px;
}

.section-7_secondDiv>div {
    display: flex;
    margin-top: 121px;

}

.section-7_secondDiv>div>img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.section-7_secondDiv>div>div>h4 {
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 32px;
}

.section-7_secondDiv>div>div>h3 {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.section-7_secondDiv>div>button {
    border: none;
    background-color: #fbf6ea;
}

.section-7_backButton {
    margin: 0 7px 0 141px;
}

/* section-7 */
/* section-8 */

.section-8 {
    text-align: center;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
}

.section-8>div>h2 {
    width: 414px;
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
}

.section-8>div>p {
    width: 405px;
    color: #6D6E76;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0 32px;
}