* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background-color: #232536;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    position: fixed;
    z-index: 99999;
}

.container {
    width: 90%;
    margin: auto;
}

.header_logo {
    width: 140px;
    height: 28.354px;
    flex-shrink: 0;
}

.toolbar {
    display: flex;
    align-items: center;

}

div.toolbar>a {
    text-decoration: none;
}

div.toolbar>a>h3 {
    color: var(--Light, #FFF);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin: 0 24px;

}

div.toolbar>a>button {
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    gap: 12px;
    background: var(--Light, #FFF);
    color: #232536;
}

.yellow-button {
    display: inline-flex;
    padding: 30px 70px;
    font-size: 25px;
    align-items: flex-start;
    gap: 12px;
    background: var(--Yellow, #FFD050);
    color: #232536;
    margin-top: 68px;
    border: 0;
    margin-bottom: 90px;
}

.section-4 {
    background: var(--Light, #FFF);
}

.section-4_display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-4_headerDiv {
    display: flex;
    justify-content: center;
}

.section-4_iconeBackground {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px 12.043px 12px 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FBF6EA;
    border-radius: 10px;
}

.section-4 .container>div>h1 {
    margin: 128px 0 40px 0;
    color: var(--Black, #232536);

    /* Heading H3 */
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
}

.section-4_display-flex>div {
    width: 296px;
    height: 228px;
    flex-shrink: 0;
    padding: 32px;
    border: 1px solid var(--Medium-grey, rgb(109 110 118 / 30%));
    /* opacity: 0.3; */

}

.section-4_display-flex>div>img {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.section-4_display-flex>div>h3 {
    color: var(--Black, #232536);

    /* Heading H3 */
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
}

.section-4_display-flex>div>p {
    color: var(--Medium-grey, #6D6E76);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 232px;
}

.section-6 .section-6_headerDiv {
    display: flex;
    justify-content: center;
}

.section-6 .section-6_headerDiv>h2 {
    color: var(--Black, #232536);

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    margin-top: 128px;
    margin-bottom: 48px;
}

.section-6_display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-6_display-flex>div {
    width: 296px;
    height: 324px;
    flex-shrink: 0;
    background: var(--Light-grey, #F4F4F4);
    padding: 40px 0;

}

.section-6_display-flex>div>img {
    border-radius: 128px;
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto 20px;
}

.section-6_display-flex>div>div>h3 {
    color: var(--Black, #232536);

    /* Heading H3 */
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;

}

.section-6_display-flex>div>p {
    color: var(--Medium-grey, #6D6E76);
    text-align: center;

    /* Body 2 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    width: 240px;
    margin: 0 auto 20px;
}

.section-6_icones {
    display: flex;
    justify-content: center;
}

.section-6_icones>a {
    text-decoration: none;
}

.section-6_icones>a>img {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.joinNowButton {
    background: var(--Yellow, #FFD050);
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    gap: 12px;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    border: none;
    margin: 0 27%;
}

footer {
    padding: 59px 80px 56px;
    background: var(--Black, #232536);
}

.logoAndToolbar {
    display: flex;
    justify-content: space-evenly;
}

.logoAndToolbar>img {
    width: 140px;
    height: 28.354px;
    flex-shrink: 0;
}

.logoAndToolbar>div>a {
    color: #FFF;

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    text-decoration: none;
    margin: 0 10px;
}

.footerSecontBlcok>div>h2 {
    width: 562px;
    color: #FFF;

    /* Heading H2 */
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
}

.footerSecontBlcok_secondBlcok {
    display: flex;

}

.footerSecontBlcok {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #2e3040;
    width: 1280px;
    height: 256px;
    margin-top: 55px;
    flex-shrink: 0;
    align-items: center;
    flex-wrap: wrap;
}

.footerSecontBlcok_secondBlcok>label>input {
    width: 323px;
    height: 56px;
    flex-shrink: 0;
    border: 1px solid var(--Dark-Grey, #4C4C4C);
    background-color: #2e3040;
    padding: 0 20px;

}

.footerSecontBlcok_secondBlcok>label>button {
    display: inline-flex;
    padding: 20px 48px;
    align-items: flex-start;
    gap: 12px;
    background: var(--Yellow, #FFD050);
    border: none;
    margin-left: 20px;
}
.footerLastBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 48px;
}
.footerLastBlock>div>p {
    color: var(--Light, #FFF);

    /* Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.footerLastBlock>div>a>img{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin: 0 5px;
}